<?php
    $hrefPath = '';
    if ($download_order->get_count('1')<8){ //('$_post['id']') to be added
        $hrefPath = 'download_limit_handler.php';
    }else{
        $download_limit_error = 'you have reached your maximum downloads number';
    }
?>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="views/Styles/download.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home</title>
</head>

<body>
    <header>
        <nav>
            <button id="logout">Logout <i class="fa fa-sign-out"></i></button>
        </nav>
    </header>
    <div class="product">
        <div class="details">
            <h3>Name: XYZ software</h3>
            <h3>Size: 150Mb</h3>
            <?php if (!empty($hrefPath)) { ?>
                <a
                    id="download_link"
                    onclick = "window.open('http://localhost/project/download_initiator.php');"  
                    href="<?= $hrefPath ?>"
                >
                    Software.zip
                </a>
            <?php } ?>
        </div>

        <?php
        echo "<div class=\"download_limit_error\" div> $download_limit_error </div>";
        ?>
    </div>
</body>
</html>