<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="views/Styles/download.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Download page</title>
  </head>

  <body>
    <header>
        <img id="logo" src="views/Resources/Logo.png" alt="logo-img"/>
      <nav>
        <button id="logout">Logout <i class="fa fa-sign-out"></i></button>
      </nav>
    </header>
    <div class="product">
      <div class="details">
        <h3>Product Name: XYZ software</h3>
        <h3>File Size: 1 MB</h3>
        <a
          id="download_link"
          href="helpers/download_limit_handler.php"
          <?php if ($download_order->get_count("1") <= 7) { ?>
            onclick = "window.open('http://localhost/project/helpers/download_initiator.php');"
          <?php } ?>
        >
          Download here
        </a>

        <?php
        echo "<div class=\"download_limit_error\" div> $download_limit_error </div>";
        ?>

      </div>

    </div>
  </body>
</html>
