<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="views/Styles/download.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <button id="logout">Logout <i class="fa fa-sign-out"></i></button>
        </nav>
    </header>
    <div class="product">
        <div class="details">
            <h3>Name: XYZ software</h3>
            <h3>Size: 150Mb</h3>
            <button id="download" onclick="window.location.href='download_initiator.php'">Software.zip</button>
        </div>
        
    </div>
</body>
</html>