<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="views/Styles/profile.css" />
    <title>Profile</title>
  </head>
  <body>
    <div class="card-info">
      <img
        src="views/Resources/profile.png"
        alt="profile-img"
        style="z-index: 5"
      />
      <!-- Email to be fixed -->
      <input
        id="email"
        type="text"
        placeholder="Email"
        value="AsmaaFaried54@gmail.com"
        name="email"
        disabled
      />
      <label>Edit account info</label>
      <div id="password_edit">
        <label id="edit_label" for="pass">Change Password : </label>

      </div>
      <input
        id="pass"
        type="password"
        placeholder="Password"
        value="Asmaa123"
        name="password"
        disabled
      />
      <button id="edit">Edit my data</button>
      <button id="backtohome">Back to download page</button>
    </div>
    <div class="counter">
      <div class="small-circle">
        <p>4</p>
        <span> Download Count</span>
      </div>
    </div>
  </body>
</html>
