body{
    font-family: monospace;
    font-size: 24px;
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    background-color: #243545;
}
.card-info{
    width: 27%;
    height: auto;
    display: inline-grid;
    background-color: aliceblue;
    justify-content: space-around;
    justify-items: center;
    border-radius: 24px;
    padding: 26px;
    box-shadow: 10px 19px 15px darkgrey;
    position: absolute;
    left: 20%;
    top: 15%;
}
img{
    box-shadow: 4px 12px 24px darkgrey;
    border-radius: 113px;
    margin-bottom: 21px;
}
input{
   
    border: none;
    /* border-bottom: 2px solid gray; */
    background-color: #f0f8ff;
}
input,#edit,#backtohome{
    width: 300px;
    height: 33px;
    text-align: center;
    border-radius: 3px;
   
}
#edit,#backtohome{
    height: 40px;
    background-color: cornflowerblue;
    margin-top: 22px;
    font-size: 20px;
    color: aliceblue;
    border: none;
}
#backtohome{
    background-color: tomato;
}
.counter{
      background-image: linear-gradient(#ff0000db,orange,#ffff00de,#32af3285,#0000ff08,indigo,#ee82ee6e);
      position: relative;
      left: 60%;
      top: 80px;
      width: 232px;
      height: 237px;
      border-radius: 120px;
}

.small-circle{
    width: 205px;
    height: 205px;
    border-radius: 112px;
    position: relative;
    left: 6%;
    top: 16px;
    background-color: #243545;
}
p{
    font-size: 83px;
    color: aliceblue;
    position: relative;
    top: 24%;
    left: 36%;
    width: fit-content;
}
span{
    color: aliceblue;
    position: relative;
    top: 35%;
    left: 10%;
}