<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/profileStyle.css">
    <title>Profile</title>
</head>
<body>
    <div class="card-info">
       
        <img src="views/profile.png" alt="profile-img">
        <label for="email">Email</label>
        <input id="email" type="text" placeholder="Email" value="AsmaaFaried54@gmail.com"name="email">
        <label for="pass">Password</label>
        <input id="pass" type="password" placeholder="Password" value="Asmaa123" name="password">
        <button id="edit">Edit my data</button>
        <button id="backtohome">Back to home</button>
    
        
    </div>
    <div class="counter">
        <div class="small-circle"> 
            <p> 4</p>
            <span> Download Count</span>
        </div>
    </div>

   
</body>
</html>